### Python_Basics_Assignment_20

#### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

In [2]:
with open('test.txt', 'wt') as file:
    file.write(test1)
    
file.close

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
with open('test.txt', 'rt') as file:
    test2 = file.read()

In [4]:
test2 == test1

True

There is no difference between test1 and test2.

#### 3. Create a CSV file called books.csv by using these lines:
title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [5]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as file:
    file.write(text)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3
database = sqlite3.connect('books.db')
cursor = database.cursor()
cursor.execute('''create table book (title text, author text, year int)''')

OperationalError: table book already exists

#### 5. Read books.csv and insert its data into the book table.

In [7]:
import sqlite3
import csv

i = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as file:
    b = csv.DictReader(file)
    for j in b:
        cursor.execute(i, (j['title'], j['author'], j['year']))

#### 6. Select and print the title column from the book table in alphabetical order.

In [8]:
sql = 'select title from book order by title asc'
for row in database.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

#### 7. From the book table, select and print all columns in the order of publication.

In [9]:
for i in database.execute('select * from book order by year'):
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [10]:
import sqlalchemy
connection = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title'
rows = connection.execute(sql)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [11]:
pip install redis

Requirement already satisfied: redis in /opt/conda/lib/python3.10/site-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in /opt/conda/lib/python3.10/site-packages (from redis) (4.0.2)
Note: you may need to restart the kernel to use updated packages.

import redis
client = redis.Redis()
client.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

client.hgetall("test")

#### 10. Increment the count field of test and print it.

import redis
client = redis.Redis()
count = client.hget("test","count")

if count is None:
    count = 0
    
count+=1
client.hset("test","count",count)
print(count)